<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		* {
			box-sizing: border-box;
		}

		/* Create two equal columns that floats next to each other */
		.column {
			float: left;
			display:table-cell;
			width: 50%;
			padding: 50px;
			height: 600px; /* Should be removed. Only for demonstration */
		}

		/* Clear floats after the columns */
		.row:after {
			content: "";
			display: table;
			clear: both;
		}
	</style>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165277121-1"></script>
		<script>
  		window.dataLayer = window.dataLayer || [];
	  	function gtag(){dataLayer.push(arguments);}
	  	gtag('js', new Date());
	  	gtag('config', 'UA-165277121-1');
	</script>
</head>

<body style="text-align: center; ">
	<br />
	<h2 >User Access Statistics</h2>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>

	<div class="row" >
		<div class="column" style="text-align: center; ">
			<h2>Zip Code</h2>
			<div id="zip_code" style="width: 600px; height:400px; display:inline-block;"></div>
			<script type="text/javascript"> 
				echarts.init(document.getElementById('zip_code'),'light').setOption({
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: 'shadow'
						}
					},
					legend: {
						data: ['Number of Users']
					},
					grid: {
						left: '3%',
						right: '4%',
						bottom: '3%',
						containLabel: true
					},
					xAxis: {
						type: 'value',
						boundaryGap: [0, 0.01]
					},
					yAxis: {
						type: 'category',
						data: {{parameters['zip_code_range'] |tojson|safe}}
					},
					series: [
					{
					//name: '2011',
					type: 'bar',
					data: {{parameters['zip_code_count'] }}
				}
				]
			});

		</script>

	</div>

	<div class="column " style="text-align: center; ">
		<h2> Type of trials being Looked for </h2>
		<div id="type_trials" style="width: 600px;height:400px; display:inline-block;"></div>
		<script>
			echarts.init(document.getElementById('type_trials')).setOption({
				legend: {
					orient: 'vertical',
					left: 'left',
					data: ['Any trial for COVID-19', 'Interventional/Expanded Access Study ', 'Observational Study']
				},
				tooltip: {
					trigger: 'item',
					formatter: '{a} <br/>{b} : {c} ({d}%)'
				},
				series: {
					name: 'answers:',
					type: 'pie',
					data: [
					{name: 'Any trial for COVID-19 that is looking for patients', value: {{parameters['type_trials_dict']['all']}} },
					{name: 'Interventional/Expanded Access Study (ex. testing a new treatment for COVID-19)', value: {{parameters['type_trials_dict']['intervention']}} },
					{name: 'Observational Study (ex. tracking symptoms or creating a patient registry)', value: {{parameters['type_trials_dict']['observation']}} }
					]}
				});
			</script>
			
	</div> 
	</div>

	<div class="row">
		<div class="column " style="text-align: center; ">
			<h2>Age Group</h2>
			<div id="age_group" style="width: 600px; height:400px; display:inline-block;"></div>
			<script type="text/javascript"> 
				echarts.init(document.getElementById('age_group')).setOption({
					title: {
				        subtext: 'Ages are rounded in tens for privacy protection',
				        left: 'center'
				    },
				    legend: {
				    	left: 'left',
				    	data:['Number of Users']
				    },
				    xAxis: {
				    	data: {{parameters['age_range']}}
				    },
				    yAxis: {},
				    series: [{
				    	name: 'Number of Users',
				    	type: 'bar',
				    	data: {{parameters['age_count']}}
				    }]
				});
			</script>
</div>
		<div class="column" style="text-align: center; ">
			<h2>At High-Risk for Contracting COVID-19 </h2>
			<div id="high_risk" style="width: 600px;height:400px; display:inline-block;"></div>
			<script>
				echarts.init(document.getElementById('high_risk')).setOption({
					legend: {
						orient: 'vertical',
						left: 'left',
						data: ['yes', 'no', "I don't know"]
					},
					tooltip: {
						trigger: 'item',
						formatter: '{a} <br/>{b} : {c} ({d}%)'
					},
					series: {
						name:'answers:',
						type: 'pie',
						data: [
							{name: 'yes', value: {{parameters['exposure_dict']['yes']}} },
							{name: 'no', value: {{parameters['exposure_dict']['no']}} },
							{name: "I don't know", value: {{parameters['exposure_dict']['idk']}} }
						]}
					});
				</script>

			</div>
		</div>

		<div class="row">
			<div class="column" >
	   <h2> Diagnosed with COVID-19</h2>
			
				<div id="diagnosed" style="width: 600px;height:400px; display:inline-block;"></div>
				<script>
					echarts.init(document.getElementById('diagnosed')).setOption({
						legend: {
							orient: 'vertical',
							left: 'left',
							data:['yes+','no+','I dont know', 'Yes, but recovered']
						},
						tooltip: {
							trigger: 'item',
							formatter: '{a} <br/>{b} : {c} ({d}%)'
						},
						series: {
							name: 'answers:',
							type: 'pie',
							data: [
							{name: 'yes', value: {{parameters['domain_dict']['yes']}} },
							{name: 'no', value: {{parameters['domain_dict']['no']}} },
							{name: "I don't know", value: {{parameters['domain_dict']['idk']}} },
							{name: 'Yes, but I am now recovered', value: {{parameters['domain_dict']['cleared']}} }
							]}
						});
					</script>
			</div> 
				<div class="column" >
					<h2> Currently hospitalized or in ICU</h2>
					<div id="hospitalized" style="width: 600px;height:400px; display:inline-block;"></div>
					<script>
						echarts.init(document.getElementById('hospitalized')).setOption({
							legend: {
								orient: 'vertical',
								left: 'left',
								data: ['yes', 'no', "I don't know"]
							},
							tooltip: {
								trigger: 'item',
								formatter: '{a} <br/>{b} : {c} ({d}%)'
							},
							series: {
								name: 'answers:',
								type: 'pie',
								data: [
								{name: 'yes', value: {{parameters['stat_dict']['yes']}} },
								{name: 'no', value: {{parameters['stat_dict']['no']}} },
								{name: "I don't know", value: {{parameters['stat_dict']['idk']}} }
								]}
							});
						</script>
				</div>
			</div>

			<div class="row">
				<div class="column" >
					<h2> Currently pregnant</h2>
					<div id="pregnat" style="width: 600px;height:400px; display:inline-block;"></div>
					<script>
						echarts.init(document.getElementById('pregnat'),'light').setOption({
							legend: {
								orient: 'vertical',
								left: 'left',
								data: ['yes', 'no', 'not applicable', "I don't know"]
							},
							tooltip: {
								trigger: 'item',
								formatter: '{a} <br/>{b} : {c} ({d}%)'
							},
							series: {
								name: 'answers:',
								type: 'pie',
								data: [
								{name: 'yes', value: {{parameters['preg_dict']['yes']}} },
								{name: 'no', value: {{parameters['preg_dict']['no']}} },
								{name: 'not applicable', value: {{parameters['preg_dict']['n/a']}} },
								{name: "I don't know", value: {{parameters['preg_dict']['idk']}} }
								]}
							});
						</script>
				</div>
				<div class="column" >
					<h2></h2>
					<p></p>
				</div>
			</div>
		</body>
		</html>

